<article>
  <h2>The Value of Money</h2>
  <div class="article-display">
    <img src="img/img-1.webp" alt="">
    <p>Most economists are in agree­ment that the inflation in the United States during the past three years has been the worst since the early 1940′s, taking ac­count of both severity and dura­tion. But they cannot agree on the nature of the inflation that is en­gulfing the American economy. To some, inflation denotes a spectac­ular rise in consumer prices; to others, an excessive aggregate de­mand; and to at least one econo­mist, it is the creation of new money by our monetary author­ities. This disagreement among econ­omists is more than an academic difference on the meaning of a popular term. It reflects profes­sional confusion as to the cause of the inflation problem and the pol­icies that might help to correct it. A review of some basic prin­ciples of economics that are ap­plicable to money may shed light on the problem.(Sennholz, 1969) <br> Finalize details. Citation Machine, a Chegg service. (n.d.). https://www.citationmachine.net/apa/cite-a-website/new </p>
    
  </div>


  <h2>GMO Food</h2>
  <div class="article-display">
    <img src="img/img-2.webp" alt="">
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. In fermentum tempus molestie tempor fames blandit. Sollicitudin nunc vestibulum porta a tristique arcu. Id porta duis aliquam senectus mattis consectetur non. Quam eleifend lectus convallis amet habitasse. Id arcu quisque habitant himenaeos ultricies. Maximus venenatis eleifend cursus nulla sapien quisque posuere turpis sollicitudin. Tellus finibus lacinia praesent non donec tellus.  Massa tellus aliquam sagittis primis primis, tempus tortor suscipit. Parturient facilisi habitasse aliquet ultricies nunc per.</p>
  </div>


  <h2>The View of World in 2100</h2>
  <div class="article-display">
    <img src="img/img-3.webp" alt="">
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. In fermentum tempus molestie tempor fames blandit. Sollicitudin nunc vestibulum porta a tristique arcu. Id porta duis aliquam senectus mattis consectetur non. Quam eleifend lectus convallis amet habitasse. Id arcu quisque habitant himenaeos ultricies. Maximus venenatis eleifend cursus nulla sapien quisque posuere turpis sollicitudin. Tellus finibus lacinia praesent non donec tellus.  Massa tellus aliquam sagittis primis primis, tempus tortor suscipit. Parturient facilisi habitasse aliquet ultricies nunc per.</p>
  </div>
</article>
